h1{
	color: darkcyan;
	text-align: center;
	size: 120;
	background-color: yellow;
	border: 5px ridge orangered;
}
h3{
	color: darkslateblue;
	border-right:4px solid darkcyan;
	border-bottom:4px solid darkcyan;
	display: inline-block;
	padding: 5px 15px 5px 5px;
	box-shadow: 4px 4px 5px  gray;


}
body{
	background-color: greenyellow;
	background-origin: content-box;
}
ol{
	background-color: rosybrown;
	background-image: url(bg.avif);
	background-size: cover;
	border: 5px solid saddlebrown;
}
.img  {
	border: 6px groove black;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	background-color: lightcyan;
	border-radius:5px 50px ;
}
img:hover{
	transition: all 1.2s ;
	transform: scale(1.2)   translate3d(20px,20px,20px);
	}
ul{
	color: forestgreen;
}
p {
	text-align: center;
}
#logo {
	border: 4px solid black;
	border-radius:65px ;
	margin-left: 85%;	
}
div :hover{
	transition: all 1.5s;	
	transform: rotate(360deg);	
}

.btn{

	border-radius: 200px;	
}
