h1{
	color: darkcyan;
	display: inline-block;
	border: 5px ridge orangered;
	size: 120;
	background-color: yellow;
	margin-top: 80px;
	border-radius: 15px;
	padding: 3px 15px;
	
}


h3{
	color: darkslateblue;
	border-right:4px solid darkcyan;
	border-bottom:4px solid darkcyan;
	display: inline-block;
	padding: 5px 15px 5px 5px;
	box-shadow: 4px 4px 5px  gray;
	margin-top: 10px;

}
body{
	background-color: greenyellow;
	background-origin: content-box;
}

ol{
	background-color: rosybrown;
	background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?cs=srgb&dl=pexels-madison-inouye-1831234.jpg&fm=jpg);
	background-size: cover;
	border: 5px solid saddlebrown;
	margin: -60px 25px 25px 25px ;

}

.img  {
	border: 6px groove black;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	background-color: lightcyan;
	border-radius:5px 50px ;S
}

img:hover{
	transition: all 1.2s ;
	transform: scale(1.2)   translate3d(20px,20px,20px);
}

ul{
	color: forestgreen;
}

p {
	text-align: center;
}

#logo {
	border: 6px solid black;
	border-radius:90px ;
	margin-left: 85%;
	margin-top: 80px;	
}

div :hover{
	transition: all 1.5s;	
	transform: rotate(360deg);	
}

.btn{

	border-radius: 200px;
	display: inline-block;	
}

button{
	box-shadow: 6px 6px 5px gray;
}

